# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [5]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0: #check if both are even or not
        print('both of them are even')
        return min(a,b)   #return the lesser of the 2 numbers
    else:                 #if one or both are odd 
        print('one or both of them are odd')
        return max(a,b)   ##return the lesser of the 2 numbers

In [6]:
# Check
lesser_of_two_evens(2,4)

both of them are even

2

In [7]:
# Check
lesser_of_two_evens(2,5)

one or both of them are odd

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [9]:
def animal_crackers(text):
    text=text.split()
    if text[0][0]==text[1][0]:
        return 'true'
    else:
        return 'false'

In [10]:
# Check
animal_crackers('Levelheaded Llama')

'true'

In [11]:
# Check
animal_crackers('Crazy Kangaroo')

'false'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [12]:
def makes_twenty(n1,n2):                  #function named makes tewnty
    if n1==20 or n2==20 or n1+n2==20:     #check if one or both or the sum of the 2 num is equal to 20
        return 'true'
    else :  return 'false'

In [16]:
# Check
makes_twenty(20,10)

'true'

In [14]:
# Check
makes_twenty(2,3)

'false'

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [347]:
def old_macdonald(name):
    name=name.capitalize() #capitalize the first letter
    new_name=''
    name=name.cpitalize(name[3])
    print(name)

In [348]:
# Check
old_macdonald('macdonald')

AttributeError: 'str' object has no attribute 'cpitalize'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [45]:
def almost_there(n):
    if n in range (90,111) or  n in range (190,211) : #check if n is within 10 of either 100 or 200
        return 'true'                                 #if true return true
    else: 
        return'false'                                 #else return false

In [46]:
# Check
almost_there(104)

'true'

In [47]:
# Check
almost_there(150)

'false'

In [48]:
# Check
almost_there(209)

'true'

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [131]:
def has_33(nums):
    for x in range(0,len(nums)-1):         #loop to check every 2 index  ورا بعض  
        if nums[x]==3 and nums[x+1]==3:    #return true if equal 3
            return 'true'
        else: continue                    #if not continue
    return 'false'

In [132]:
# Check
has_33([1, 3, 3])

'true'

In [133]:
# Check
has_33([1, 3, 1, 3])

'false'

In [134]:
# Check
has_33([3, 1, 3])

'false'

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [203]:
def paper_doll(text):
    new_text=''
    for x in range(len(text)):
            new_text=text[x]*3
    new_text.insert('a')      
    print (new_text)

In [204]:
# Check
paper_doll('Hello')

AttributeError: 'str' object has no attribute 'insert'

In [177]:
# Check
paper_doll('Mississippi')

M

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [258]:
def blackjack(a,b,c):
    if a+b+c<=21:                                   #check if less or equal 22
        return a+b+c
    elif (a+b+c)>21 and a==11 or b==11 or c==11:    #check if bigger and one of them are equal 11
        return a+b+c-10
    else:                                            #if non of the above
        return 'bust'

In [259]:
# Check
blackjack(5,6,7)

18

In [260]:
# Check
blackjack(9,9,9)

'bust'

In [261]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [320]:
def summer_69(arr):
    sum1=0
    if len(arr)==0:
        return 'no numbers'
    else:
        for x in range (len(arr)): 
            if arr[x]==6:
                for y in range(x,len(arr)):
                    if arr[y]==9:
                        break
                    else :
                            x+1
                            continue
            else:
                sum1=sum1+arr[x]
    return sum1
            
    pass

In [321]:
# Check
summer_69([1, 3, 5])

9

In [322]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

33

In [323]:
# Check
summer_69([2, 1, 6, 9, 11])

23

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [316]:
def spy_game(nums):
    for x in range (len (nums)):                     #loop to check the first 0
        if nums[x]==0:
            for y in range (x,len (nums)):           #loop to check the second 0
                if nums[y]==0:
                    for z in range (y,len (nums)):   #loop to check the 7 number
                        if nums[z]==7:
                            return 'true'
    else: return 'false'                             #if not return false

In [317]:
# Check
spy_game([1,2,4,0,0,7,5])

'true'

In [318]:
# Check
spy_game([1,0,2,4,0,5,7])

'true'

In [319]:
# Check
spy_game([1,7,2,0,4,5,0])

'false'

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [337]:
def count_primes(num):
    sum1=0                    #intial sum=0
    for x in range(num+1):    #loop  from 0 to given number
        if x<=1:              # check if equal 1 to skip it
            continue
        elif x==2:            #check if equal 2 and adding 1 to sum (first prime)
            sum1=1
            continue
        for y in range(2,x):  #check every next number by his last numbers
            if x%y==0:
                break
        else:                 #counting the prime numbers
            sum1+=1
    print(sum1)

In [338]:
# Check
count_primes(100)

25

## Great Job!